---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostsList from "@/components/ui/PostsList.astro";
import Pagination from "@/components/ui/Pagination.astro";

const { page, categoryName, slug, lang, t } = Astro.props;

const { data: posts, currentPage, lastPage: totalPages } = page;
---

<BaseLayout
  title={`${t("categories.page.title")} ${categoryName}`}
  isSubPage={true}
>
  <section class="bg-white">
    <div class="container px-6 py-10 xl:py-20 mx-auto">
      <div class="flex flex-col justify-center items-center pb-16">
        <h1
          class="text-3xl lg:text-4xl xl:text-5xl 2xl:text-7xl font-semibold text-purpureus-600 mb-4"
        >
          {categoryName}
        </h1>

        <p
          class="text-md lg:text-xl text-gray-600 max-w-3xl mx-auto text-center"
        >
          {t("categories.page.subtitle")}
          {categoryName}
        </p>
      </div>

      <PostsList posts={posts} t={t} lang={lang} />

      {/* Paginación */}
      {
        posts.length > 0 && (
          <Pagination
            currentPage={currentPage}
            totalPages={totalPages}
            basePath={`/${lang}/blog/categories/${slug}`}
            t={t}
          />
        )
      }
    </div>
  </section>
</BaseLayout>
