---
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const books = await getCollection("books");

export const prerender = true;
---

<section
  class="bg-cover bg-[url(/assets/img/suggested-books.webp)] text-light-cyan-600"
>
  <div class="py-20 md:py-20 xl:py-30 px-4 xl:px-12 bg-black/70">
    <div class="container px-6 py-10 lg:px-0 lg:py-0 mx-auto">
      <h2 class="text-center text-4xl md:text-5xl xl:text-7xl uppercase">
        {t("suggestedBooks.title")}
      </h2>

      <p
        class="mt-4 text-gray-500 xl:mt-6 dark:text-gray-300 text-center max-w-2xl mx-auto"
      >
        {t("suggestedBooks.subtitle")}
      </p>

      <div
        class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3"
      >
        {
          books.map((book, index) => (
            <div class="p-8 space-y-3 border-2 rounded-xl bg-non-photo-blue-500 dark:bg-non-photo-blue-700">
              <div class="relative">
                <img
                  class="object-contain object-top w-full h-64 rounded-lg lg:h-80"
                  src={`/assets/img/books/${book.data.img}`}
                  alt={book.data.title}
                />

                <div class="absolute bottom-0 flex py-2 bg-white dark:bg-gray-900 ">
                  <div class="mx-2">
                    <h1 class="text-md text-gray-700 dark:text-gray-200">
                      {book.data.author}
                    </h1>
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                      Autor(a) / Autores
                    </p>
                  </div>
                </div>
              </div>

              <h1 class="mt-6 text-xl font-semibold text-gray-800">
                {book.data.title}
              </h1>

              <hr class="w-32 my-6 text-blue-500" />

              <p class="text-sm text-gray-500 dark:text-gray-400">
                {book.data.description}
              </p>

              <a
                href={book.data.download}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex p-2 text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-full rtl:-scale-x-100 hover:underline hover:text-blue-600 hover:bg-white"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-6 h-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
