---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getPosts } from "@/services/wordpress/wp";
import type { WpPostEdge, WpPosts } from "@/types/wp";

export async function getStaticPaths() {
  const allPosts: WpPosts = await getPosts(1000, ["ES", "EN"]);

  return allPosts.edges.map((post: WpPostEdge) => {
    return {
      params: { slug: post.node.slug },
      props: { post: post.node },
    };
  });
}

const { post } = Astro.props;

export const prerender = true;
---

<BaseLayout title={`${post.title}`} isSubPage={true}>
  <section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
      <div class="lg:flex lg:-mx-6">
        <div class="lg:w-3/4 lg:px-6">
          <Image
            class="object-cover object-center w-full h-80 xl:h-[28rem] rounded-xl"
            src={post.featuredImage.node.sourceUrl}
            alt={post.title}
            width={1200}
            height={675}
            format="webp"
          />

          <div>
            {
              post.categories.nodes.map((category) => (
                <p class="mt-6 text-sm text-blue-500 uppercase">
                  {category.name}
                </p>
              ))
            }

            <h1
              class="mt-4 text-2xl font-semibold leading-tight text-gray-800 dark:text-white"
            >
              {post.title}
            </h1>

            <div
              class="prose lg:prose-xl mt-6 text-gray-600 dark:text-gray-300"
              set:html={post.content}
            />

            <!-- Post Author -->
            <div class="flex items-center mt-6">
              <Image
                class="object-cover object-center w-10 h-10 rounded-full"
                src={post.author.node.avatar.url}
                alt={post.author.node.name}
                width={40}
                height={40}
                fetchpriority={"low"}
                format="webp"
              />

              <div class="mx-4">
                <h1 class="text-sm text-gray-700 dark:text-gray-200">
                  {post.author.node.name}
                </h1>
                <p class="text-sm text-gray-500 dark:text-gray-400">
                  Lead Developer
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Sidebar -->
        <div class="mt-8 lg:w-1/4 lg:mt-0 lg:px-6">
          <div>
            <h3 class="text-blue-500 capitalize">Design instument</h3>

            <a
              href="#"
              class="block mt-2 font-medium text-gray-700 hover:underline hover:text-gray-500 dark:text-gray-400"
            >
              How to raise $100k+ by using blox ui kit on your design
            </a>
          </div>

          <hr class="my-6 border-gray-200 dark:border-gray-700" />

          <div>
            <h3 class="text-blue-500 capitalize">UI Resource</h3>

            <a
              href="#"
              class="block mt-2 font-medium text-gray-700 hover:underline hover:text-gray-500 dark:text-gray-400"
            >
              Should you creat UI Product by using Blox?
            </a>
          </div>

          <hr class="my-6 border-gray-200 dark:border-gray-700" />

          <div>
            <h3 class="text-blue-500 capitalize">Premium Collection</h3>

            <a
              href="#"
              class="block mt-2 font-medium text-gray-700 hover:underline hover:text-gray-500 dark:text-gray-400"
            >
              Top 10 Blocks you can get on Blox's collection.
            </a>
          </div>

          <hr class="my-6 border-gray-200 dark:border-gray-700" />

          <div>
            <h3 class="text-blue-500 capitalize">Premium kits</h3>

            <a
              href="#"
              class="block mt-2 font-medium text-gray-700 hover:underline hover:text-gray-500 dark:text-gray-400"
            >
              Top 10 Ui kit you can get on Blox's collection.
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
